# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.cache
*.vsidx
*.db
*.db-shm
*.db-wal

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# Rider
.idea/
*.sln.iml

# User-specific
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Backup
*~
*.backup
*.bak
